#!/usr/bin/env bash

# setting hostmane because I don't want to be prompted about it
gh_hostname="github.com"

if gh auth status >/dev/null 2>&1; then
  gh auth logout --hostname github.com
fi

echo {{ (bitwarden "item" "Github CLI").login.password | quote }} \
  | gh auth login \
     --git-protocol ssh \
     --skip-ssh-key \
     --hostname "$gh_hostname" \
     --with-token

dotfiles_dir="{{- .chezmoi.sourceDir -}}"

if [[ "$(git -C "$dotfiles_dir" remote get-url origin)" != git@* ]]; then
  ssh_url="$(cd "$dotfiles_dir" && gh repo view --json sshUrl --jq .sshUrl)"
  git -C "$dotfiles_dir" remote set-url origin "$ssh_url"
  echo "Remote switched to $ssh_url"
fi
