{{- $my_name := promptStringOnce . "name" "Git Name" -}}
{{- $my_email := promptStringOnce . "email" "Git Email" -}}

[hooks.read-source-state.pre]
  command = {{ joinPath .chezmoi.sourceDir "system" "bin" "ensure-password-manager" | quote }}

[bitwarden]
  unlock = "auto"

[data]
  my_name = {{ $my_name | quote }}
  my_email = {{ $my_email | quote }}
  font = "JetBrainsMono Nerd Font"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]
