theme = Dracula

# Font
font-family = {{ .font | quote }}
font-style = Regular
font-size = 11

# From Omarchy
# Fix general slowness on hyprland (https://github.com/ghostty-org/ghostty/discussions/3224)
async-backend = epoll
background-opacity = 0.9
