[Unit]
Description=Playerctl Daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/playerctld
Restart=on-failure

[Install]
WantedBy=default.target
